/*ตรงนี้เป็นต้นไปเขียนโค๊ดสำหรับDesktop*/
* {
  font-family: "Anuphan", sans-serif;
  box-sizing: border-box;
}

.main{
  width: 100%;
  height: auto;
}

.second-banner-container {
  width: 100%;
  height: auto;
}

.second-banner-container-left {
  display: flex;
  flex-direction: column;  /*จัดตรงนนี้ให้ทุกกล่องซ้ายเท่ากันครับ*/
  gap: 24px;
  width: 70%;
  height: 100%;
}

.second-banner-container-right {
  width: 30%;
  height: 100%;
}

.second-banner-container-left-inside {
  width: 100%;
  height: 304px;
}


/*-container-jolyne-bank-*/
.second-banner-container-left-inside-3-4rd {
  display: flex;
  width: 100%;
  height: 304px;
  background-color: rgb(155, 154, 154);
  padding: 24px 24px;
  border-radius: 24px;
}

.container-jolyne{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.item1{
  width: 100%;
  
}

.item1 h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 14px;
}

.item2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.item-img{
  object-fit: cover; /* ป้องกันรูปเบี้ยว (จะตัดส่วนเกินแทนการบีบ) */
  width: 20%;
  height: 100%;
  border: 1px solid black;
  border-radius: 24px
}

.item-text{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}


/*--your items-bank---*/
.section-your-items{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.your-items-header{
  font-weight: bold;
  font-size: 24px;
}

.your-items-header h3{
  
  margin: 0px;
}

.your-items-img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 24px;
  max-width: 100%;
}

.your-items-img{
  flex: 1;
  width: 100%;
  max-width: 300px;
  height: 100%;
  border: 1px solid black;
  border-radius: 24px;
}


.your-items-img img{
  
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

/*ipad*/
@media (max-width: 768px) {
.second-banner-container-right{
  display: none;
}
  
.second-banner-container-left{
  width: 100%;
}

.second-banner-container-left-inside-3-4rd{
  width: 100%;
}

.your-items-img{
  flex: 0.8px;
}

.item-img{
  width: 35%;
}

.item-text{
  width: 65%;
}

}

/*ตรงนี้เป็นต้นไปเขียนโค๊ดสำหรับMobile*/
@media (max-width: 600px){
  .second-banner-container-right{
  display: none;
}

  
.second-banner-container-left{
  width: 100%;
}

.second-banner-container-left-inside-3-4rd{
  width: 100%;
}

.your-items-img{
  flex: 0.8px;
}

.item-img{
  width: 35%;
}

.item-text{
  width: 65%;
}

}

